
  
  <div class='main'>

    <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h4 class="text-white">Collapsed content</h4>
        <span class="text-muted">Toggleable via the navbar brand.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" (click)="drawer.open()" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>

 

    <mat-drawer class="drower" #drawer mode="mode.push" >

    <button mat-icon-button (click)="openDialog()"  aria-label="הרשמה"><mat-icon>create</mat-icon></button>
  
    
    <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
    <mat-menu #belowMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
    <mat-menu #beforeMenu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    
    
    <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
    <mat-menu #afterMenu="matMenu" >
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>



        <p>
          <button mat-icon-button (click)="drawer.close()">
            <mat-icon>clear</mat-icon>
          </button>
        </p>
        </mat-drawer>
    
    
    
    
<div>

    <!-- <mat-drawer-container>
    
        <mat-drawer-content >
    
    
       <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container> -->
    

<router-outlet></router-outlet>

<div class="homes" >
    <h1>ברוכים הבאים</h1>
    </div>




   