<div class='main'>
    <header class='header-main homes' role='banner' >
    <span>תפריט</span>
    <mat-icon (click)="openDialog()" rauterLink='sign-in'>menu</mat-icon></header>
    <!-- <router-outlet></router-outlet> -->
<div>

<div class="homes" >
    <h1>ברוכים הבאים</h1>
    </div>


    <mat-toolbar>
        <span>A</span>
        <span class="flexExpand"></span>
        <span>B</span>
    </mat-toolbar>

<!-- </div> -->
<!-- <slideshow [imageUrls]="https://images.unsplash.com/photo-1564501677062-becc6e634c3b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"></slideshow> -->